@import 'fonts';

%trebuchet-700 {
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: 700;
}

%trebuchet-400 {
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: 400;
}

%cera-400 {
  font-family: 'Cera Pro', sans-serif;
  font-weight: 400;
}

%btn-login {
  cursor: pointer;
  min-width: 136px;
  min-height: 51px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  line-height: 21px;
  @extend %trebuchet-400;
  background-color: #ffffff;
  background: linear-gradient(90deg, #579aff 11.17%, #574dcc 96.28%);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

